*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.home-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 216, 216);
}

.form-section{
    display: grid;
    gap: 10px;
    padding: 4rem;
    background-color:white;
}

@media (min-width : 60em) {
    .form-section{
        grid-template-columns: repeat(2, 1fr);
    }
}
.grid1-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid2-form{
    display: grid;
    gap: 1rem;
}
@media (min-width : 40em) {
    .grid2-form{
        grid-template-columns: repeat(2,1fr);
    }
}
.button_space{
    display: flex;
    align-items: center;
    justify-content: center ;
    
}
.submit-button{
    width: 100%;
    border-radius: 4rem;
    background-color: black;
    color: white;
    padding: 0.5rem;
}


.dashboard-section{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
}

/* world map */

.world-map{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    
}
.world-title{
    text-align: center;
    padding: 1rem;

}
.image-space{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-world{
    background-color: black;
    width: 60%;
    border-radius: 1rem;
}

