@font-face {
    font-family: Popins-Semibold;
    src: url('../assets/WONO_images/img/fonts/Poppins-SemiBold.ttf');
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0 8rem;
    width: 100%;
}

h2  {
    font-family: Popins-SemiBold;
}